[user]
	name = Sarthik Gupta
	email = sarthikg@icloud.com
	signingkey = FD04AE05D958A773

[alias]
	ac = !git add -A && git commit -m
	acp = "! acp() { git commit -a -m \"$1\" && git push ; } ; acp"
	tag = tag -s
[commit]
	gpgsign = false

[tag]
	forceSignAnnotated = false
	gpgsign = false
